@font-face {
    font-family: "orbitron-black";
    src: url(Orbitron/static/Orbitron-Black.ttf);
}

@font-face {
    font-family: "orbitron-regular";
    src: url(Orbitron/static/Orbitron-Regular.ttf);
}

body, html{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(assets/flying-balls-cmp.png);
}

header{
    padding: 20px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boutons-header{
}

.boutons-header button{
    padding: 20px 40px;
    margin: 0 20px;
    background: none;
    border: solid 2px black;
    border-radius: 40px;
}

.boutons-header a{
    color: black;
    font-size: 20px;
    font-family: "orbitron-regular";
    text-decoration: none;
}

.bloc-intro{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bloc-intro h1{
    font-size: 50px;
    font-family: "orbitron-black";
    text-transform: uppercase;
    color: black;
}

.bloc-intro p{
    width: 65%;
    font-size: 20px;
    font-family: "orbitron-regular";
    line-height: 130%;
    letter-spacing: 2px;
    color: black;
}