@font-face {
    font-family: "orbitron-black";
    src: url(Orbitron/static/Orbitron-Black.ttf);
}

@font-face {
    font-family: "orbitron-regular";
    src: url(Orbitron/static/Orbitron-Regular.ttf);
}

body, html{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(assets/background-bubbles.jpg);
}

h1{
    font-size: 50px;
    font-family: "orbitron-black";
    text-transform: uppercase;
    color: black;
}

h2{
    font-size: 40px;
    font-family: "orbitron-black";
    text-transform: uppercase;
    color: black;
}

p{
    font-size: 20px;
    font-family: "orbitron-regular";
    line-height: 130%;
    letter-spacing: 2px;
    color: black;
}

a{
    font-size: 20px;
    font-family: "orbitron-regular";
    line-height: 130%;
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.bouton-action{
    position: relative;
    background-color: white;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 20px 0;
    cursor: pointer;
}

.bouton-action:hover{
    background-color: rgb(148, 148, 148);
}

.container-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bloc-texte{
    margin-left: 5%;
    position: absolute;
}



/* header */
header{
    margin: 0 auto;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: solid 2px black ;
}

nav{
    margin: auto;
    padding: 5px 0; 
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header, .logo-header a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header p{
    margin-left: 2px;
}

.logo-header img{
    max-height: 50px;
}

#boutons-header{
    display: flex;
    
}

#boutons-header button{
    padding: 20px 40px;
    margin: 0 20px;
    background: none;
    border: none;
}

#boutons-header a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "orbitron-regular";
    text-decoration: none;
    cursor: pointer;
}

#boutons-header a:hover{
    color: rgb(189, 189, 189);
}

#menu-burger{
    margin: auto 0;
    height: 40px;
    display: none;
}

/* A ce niveau les boutons du header disparaissent pour laisser apparaitre le 
menu burger */
@media screen and (max-width: 900px) {
    #boutons-header{
        display: none;
    }
    #menu-burger{
        display: block;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 15px;
    }
}



.container{
    width: 100%;
    position: absolute;
}



/* premier ecran */

#ecran-accueil{
    margin: auto;
    width: 80%;
    height: 100%;
    z-index: 100;
} 

.bloc-intro{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bloc-intro p{
    width: 65%;
    line-height: 130%;
    letter-spacing: 2px;
    color: black;
}

@media screen and (max-width: 900px) {
    .bloc-intro{
        width: 100%;
        height: 70%;
    }

    .bloc-intro h1{
        width: 100%;
        text-align: center;
    }

    .bloc-intro p{
        width: 100%;
        line-height: 130%;
        letter-spacing: 2px;
        color: black;
        text-align: center;
    }

}



/* ecran deux */
#ecran-deux{
    position: relative;
    margin-top: 500px;
    width: 100%;
    height: 100%;
    z-index: 150;
}

#ecran-deux p{
    width: 30%;
    margin: 10%;
}

#image-bouteille{
    margin: -10% 0;
    left: 40%;
    position: relative;
    width: 50%;
    border: solid 20px white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    transform: rotate(20deg);
}

#image-bouteille-deux{
    margin: -10% 0;
    left: 5%;
    position: relative;
    width: 50%;
    border: solid 20px white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    transform: rotate(-7deg);
}

#unconsumed{
    top: 50px;
    left: 25%;
    position: relative;
    width: 50%;
    border: solid 20px white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    transform: rotate(5deg);
}

#rendu-maison, #bureau-futur, #station-oxygen, #gamme-piano{
    /* margin:20px 10px; */
    width: 50%;
}

@media screen and (max-width: 900px) {
    #ecran-deux{
        position: relative;
        margin-top: 200px;
        width: 100%;
        height: 100%;
        z-index: 150;
    }

    #ecran-deux p{
        width: 80%;
        margin: 20% auto;
        text-align: center;
    }

    #image-bouteille, #image-bouteille-deux, #unconsumed{
        border: solid 10px white;
    }

    #rendu-maison, #bureau-futur, #station-oxygen, #gamme-piano{
        /* margin:20px 10px; */
        width: 100%;
    }
}




#ecran-trois, .container-blasons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("assets/render shiganshina 2.png");
    background-position: 20px;
}

.container-blasons{
    margin: 20px 0;
}

#ecran-trois h2, #ecran-trois p{
    width: 40%;
    margin-left: 5%;
    color: white;
}

#blason-snk{
    height: 400px;
    
}
@media screen and (max-width: 900px) {
    #ecran-trois h2, #ecran-trois p{
        width: 90%;
        margin-left: 0;
        margin: 10px auto;
        text-align: center;
        color: white;
    }
    
    #blason-snk{
        height: 200px;
    } 
}


#ecran-quatre{
    width: 100%;
    background-color: black;
}

#ecran-quatre video{
    margin: 0;
    width: 100%;
    position: relative;
}
#mon-travail{
    width: 100%;
    margin: 0 auto;
    top: 4900px;
    position: absolute;
    text-align: center;
    color: white;
    z-index: 998;
}

.bloc-texte{
    top: 5560px;
    width: 30%;
    color: white;
}

.bloc-texte h2, .bloc-texte p{
    color: white;
}

@media screen and (max-width: 900px) {
    #rendu-maison, #bureau-futur, #station-oxygen, #gamme-piano{
        /* margin:20px 10px; */
        width: 100%;
    }
}




/* footer */
.footer{
    width: 100%;
    margin: 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reseaux{
    padding: 0 5%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reseaux img{
    height: 40px;
}

.reseaux a{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: "orbitron-regular";    
}

.reseaux a p{
    margin: 0 10px;
}
@media screen and (max-width: 900px) {
    .reseaux{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .reseaux a{
        margin: 10px 0;
        padding: 0 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        font-size: 20px;
        text-decoration: none;
        font-family: "orbitron-regular";    
    }

}