@font-face {
    font-family: "orbitron-black";
    src: url(Orbitron/static/Orbitron-Black.ttf);
}

@font-face {
    font-family: "orbitron-regular";
    src: url(Orbitron/static/Orbitron-Regular.ttf);
}

body, html{
    margin: 0;
    padding: 0;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(assets/flying-balls-cmp.png);
    scroll-behavior: auto;
}

p{
    font-size: 20px;
    font-family: "orbitron-regular";
    line-height: 130%;
    letter-spacing: 2px;
    color: black;
}

header{
    margin: 0 auto;
    padding: 20px 40px;
    position: fixed;
    width: 95%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* premier ecran */

#ecran-accueil{
    position: absolute;
    width: 100%;
    height: 100%;
} 

.boutons-header button{
    padding: 20px 40px;
    margin: 0 20px;
    background: none;
    border: none;
}

.boutons-header a{
    color: black;
    font-size: 20px;
    font-family: "orbitron-regular";
    text-decoration: none;
}

.boutons-header a:hover{
    color: rgb(189, 189, 189);
}

.bloc-intro{
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bloc-intro h1{
    font-size: 50px;
    font-family: "orbitron-black";
    text-transform: uppercase;
    color: black;
}

.bloc-intro p{
    width: 65%;
    font-size: 20px;
    font-family: "orbitron-regular";
    line-height: 130%;
    letter-spacing: 2px;
    color: black;
}

.direction{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    right: 40px;

}

.direction p{
    margin-right: 40px;
    font-size: 20px;
    font-family: "orbitron-regular";
    line-height: 130%;
    letter-spacing: 2px;
    color: black;
}

/* deuxieme écran */

#ecran-deux{
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
}

.direction-precedante{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 40px;
}

.direction-precedante img{
    transform: rotate(180deg);
}

.direction-suivante{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    right: 40px;
}

#ecran-deux p{

    margin-left: 10%;
    margin-top: 10%;
    width: 30%;
}



/*  troisième écran */

#ecran-trois{
    position: absolute;
    left: 200%;
    width: 100%;
    height: 50%;
}

#ecran-trois p{

    margin-left: 10%;
    margin-top: 10%;
    width: 30%;
}