body, html{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/img/background-bubbles.jpg);
}


/* premier ecran */
#ecran-accueil{
    margin: auto;
    width: 80%;
    height: 100%;
    z-index: 100;
} 

.bloc-intro{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bloc-intro p{
    width: 65%;
    line-height: 130%;
    letter-spacing: 2px;
    color: black;
}

@media screen and (max-width: 900px) {
    .bloc-intro{
        width: 100%;
        height: 70%;
    }

    .bloc-intro h1{
        width: 100%;
        text-align: center;
    }

    .bloc-intro p{
        width: 100%;
        line-height: 130%;
        letter-spacing: 2px;
        color: black;
        text-align: center;
    }

}



/* ecran deux */
#ecran-deux{
    position: relative;
    margin-top: 500px;
    width: 100%;
    height: 100%;
    z-index: 150;
}

#ecran-deux p{
    width: 30%;
    margin: 10%;
}

#image-bouteille{
    margin: -10% 0;
    left: 40%;
    position: relative;
    width: 50%;
    border: solid 20px white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    transform: rotate(20deg);
}

#image-bouteille-deux{
    margin: -10% 0;
    left: 5%;
    position: relative;
    width: 50%;
    border: solid 20px white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    transform: rotate(-7deg);
}

#unconsumed{
    top: 50px;
    left: 25%;
    position: relative;
    width: 50%;
    border: solid 20px white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    transform: rotate(5deg);
}

#rendu-maison, #bureau-futur, #station-oxygen, #gamme-piano{
    /* margin:20px 10px; */
    width: 50%;
}

@media screen and (max-width: 900px) {
    #ecran-deux{
        position: relative;
        margin-top: 200px;
        width: 100%;
        height: 100%;
        z-index: 150;
    }

    #ecran-deux p{
        width: 80%;
        margin: 20% auto;
        text-align: center;
    }

    #image-bouteille, #image-bouteille-deux, #unconsumed{
        border: solid 10px white;
    }

    #rendu-maison, #bureau-futur, #station-oxygen, #gamme-piano{
        /* margin:20px 10px; */
        width: 100%;
    }
}



/* Projet Shiganshina */


#shiganshina, .container-blasons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../assets/img/render shiganshina 2.png");
    background-position: 20px;
}

.container-blasons{
    margin: 20px 0;
}

#shiganshina h2, #shiganshina p{
    width: 40%;
    margin-left: 5%;
    color: white;
}

#blason-snk{
    height: 400px;
    
}
@media screen and (max-width: 900px) {
    #ecran-trois h2, #ecran-trois p{
        width: 90%;
        margin-left: 0;
        margin: 10px auto;
        text-align: center;
        color: white;
    }
    
    #blason-snk{
        height: 200px;
    } 
}



/* France design week */


#france-design-week{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 212, 212);
}

#titre-fdw{
    width: 40%;
    text-align: center;
}

.contenu-fdw{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenu-fdw p{
    width: 50%;
}

#logo-fdw{
    width: 40%;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}


/* Travaux d'animation */


#travaux-animation{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#travaux-animation video{
    width: 60%;
    margin: auto;
}

#mon-travail{
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

.bloc-texte{
    text-align: end;
}

.bloc-texte h2, .bloc-texte p{
    color: white;
}

.range-video{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.titre-animation-bouton{
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





